/*Formatações gerais*/
*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    background: #f1f1f1;
}

h1{
    font-size: 35px;
}

/*Ajuste na bara de navegação*/
.topnav {
    overflow: hidden;
    background: #333;
} 

.topnav a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/*Ajuste de Cabeçalho e Título principal*/
.header {
	padding: 18em;
	text-align: center;
	background: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-image:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(../imagens/pizza.jpg);
	min-height: 90%;
}

.titulo-principal {
	color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
	font-size: 12em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

/*Efeitos do Card*/
.card{
    background-color: white;
    padding: 12px;
    margin-top: 20px;
}

/*Resolvendo problemas de Ajuste*/
.row:after{
    content: "";
    display: table;
}

/*Ajuste da listas*/

.listas {
    list-style-type: none;
}

.listas li {
    font-size: 1.2em;
}

.preco {
    float: right;
    color: #fff;
    background-color: #616161;
    padding: 5px;
    border-radius: 5px;
}

.preco:hover {
    background-color: #ddd;
    color: black;
}

p i {
    padding: 5px;
}


/*Ajuste Rodapé*/
.footer {
    padding: 20px;
    font-size: 1em;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/*Layout Responsivo*/
@media screen and (max-width: 800px){
    .topnav a{
        float: none;
        width: 100%;
    }

    .titulo-principal{
        font-size: 9em;
    }
}

@media screen and (max-width: 400px){
    .topnav a{
        float: none;
        width: 100%;
    }

    .titulo-principal{
        font-size: 3em;
    }
}